<h4>Editing Bank</h4>

<%= render 'form', bank: @bank %>

<hr/>
<%= link_to 'Show', @bank , class:"mdl-button mdl-js-button mdl-button--colored"%> 
<%= link_to 'Back', banks_path, class:"mdl-button mdl-js-button" %>
